@import url('https://fonts.googleapis.com/css?family=Muli|Slabo|Josefin+Slab');

$mainwindowfont: 'josefin slab';
$secondaryfont : 'muli';

$paletteColor1:#666666;
$paletteColor2:#996666;

#selectgame
{
	border:0px;
}

.firsttoprow
{
	display:flex;
	height:30px;
	margin:1%;
	select
	{
		margin-right : 1%;
	}
	span
	{
		font-family:$secondaryfont;
		font-size:20px;
	}
	.myeditbox
	{
		position : absolute;
	}
	.myselect
	{
		color:blue;
	}
	
}

.mainnav
{
	display:flex;
	width:100%;
	background:red;
}


.secondtoprow
{
	display:flex;
	height:60px;
	.newword
	{
		font-size:40px;
		text-transform:uppercase;
		color:blue;
		line-height:40px;
	}
	.newwordblurred
	{
		color:lightgrey;	
	}

}



.bottomrow
{
	display:flex;
	height:50px;
	margin-top : 1%;
	button
	{
		margin-right:10px;
	}
	.total
	{
		padding-top:6px;
		font-size:14px;
		margin-top:12px;
		width:30px;
		height:30px;
		text-align:center;
		border-radius:25px;
		background:#17A2B8;
		color:white;
	}
}



.thekey 
{
	font-family:$mainwindowfont;
	text-transform:uppercase;
	font-weight:bold;
	width:70px;
	height:70px;
	border : 1px solid blue;
	padding:10px;
	font-size:30px;
}

.thekeysmaller
{
	padding:2px;
	font-size:18px;
}

.thevalue
{
	position:absolute;
	font-size:25px;
	line-height:50px;
	font-weight:bold;
	padding-left:2px;
	cursor:pointer;
}



.mytoprow
{
	display:flex;
	height:30px;
	padding-top:2%;
	margin-bottom:20px;
}

.bootstrapcolumn
{
	text-align:center;
	padding:0px;
}
.centerme
{
	margin:auto;
	max-width:100%;
}





.filler
{
	flex-grow: 1;
}

.col-md-3
{
	margin-bottom:10px;
}

.col-xs-3
{
	width:24%;

}


.mymodal .modal-dialog
{
  
  border-radius : 4px 4px 30px 4px;
  position:absolute;
  
  
  #contextmenu 
  {
	  	  width: 400px; 
	  	  height:500px;
	  	  background: lightgrey;
	  	  opacity:0.95;
	  	  border-radius : 4px 4px 30px 4px;
	  	  display:flex;
	  	  flex-direction: column;
	  	  span
	  	  {
		  	  	line-height:75px;
		  	  	background:$paletteColor1;
		  	  	margin:5px;
		  	  	text-align:center;
		  	  	color:white;
		  	  	font-size:25px;
		  	  	flex-grow:1;
		  	  	cursor : pointer;
		  	  	&:hover
		  	  	{
		  	  		background : darken($paletteColor1, 10%);
		  	  	}
			}

			span:nth-last-child(2)
			{
				border-radius:0px 0px 30px 0px;
			}

			 .closeButton
			{
				position:absolute;
				left:335px;
				top:435px;
				border-radius : 30px;
				background:$paletteColor1;
				width:60px;
				height:60px;
				line-height:60px;
				text-align:center;
				font-style:bold;
				color:white;
				font-size:35px;
				border: 4px solid lightgrey;
				&:hover
		  	  	{
		  	  		cursor : pointer;
		  	  		background : darken($paletteColor1, 10%);
		  	  	}
				}
  }

  .modal-content
  {
  	border: 0px;
  }

  #historymenu
  {
  	
  	  width: 400px; 
  	  height:500px;
  	  background: lightgrey;
  	  opacity:0.95;
  	  
  	  border-radius : 4px 4px 30px 4px;
  	  display:flex;
  	  flex-direction: column;
  	  overflow:auto;
  	  
  	  span
  	  {
  	  	background:$paletteColor1;
  	  	margin:5px;
  	  	line-height:40px;
  	  	text-align:center;
		color:white;
		font-size:25px;
  	  	flex-grow: 1;
  	  	min-height: 40px;
  	  	max-height:40px;
  	  	
  	  	cursor : pointer;
  	  	&:hover
  	  	{
  	  		background : darken($paletteColor1, 10%);
  	  	}
  	  }
  	  


  	   .closeButton
		{
			position:absolute;
			left:340px;
			top:440px;
			border-radius : 30px;
			background:$paletteColor1;
			width:60px;
			height:60px;
			text-align:center;
			font-style:bold;
			color:white;
			font-size:35px;
			border: 4px solid lightgrey;
			&:hover
	  	  	{
	  	  		cursor : pointer;
	  	  		background : darken($paletteColor1, 10%);
	  	  	}
		}
    }
}


.modal-backdrop{display:none;}


.fade.in {
  opacity: 0.95;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);

}

nav>span
{
	cursor:pointer;
}



