@import url("https://fonts.googleapis.com/css?family=Muli|Slabo|Josefin+Slab");
#selectgame {
  border: 0px; }

.firsttoprow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin: 1%; }
  .firsttoprow select {
    margin-right: 1%; }
  .firsttoprow span {
    font-family: "muli";
    font-size: 20px; }
  .firsttoprow .myeditbox {
    position: absolute; }
  .firsttoprow .myselect {
    color: blue; }

.mainnav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: red; }

.secondtoprow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px; }
  .secondtoprow .newword {
    font-size: 40px;
    text-transform: uppercase;
    color: blue;
    line-height: 40px; }
  .secondtoprow .newwordblurred {
    color: lightgrey; }

.bottomrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-top: 1%; }
  .bottomrow button {
    margin-right: 10px; }
  .bottomrow .total {
    margin-top: 12px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 25px;
    background: #17A2B8;
    color: white; }

.thekey {
  font-family: "josefin slab";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  padding: 10px; }

.thevalue {
  position: absolute;
  font-size: 25px;
  line-height: 50px;
  font-weight: bold;
  padding-left: 2px;
  cursor: pointer; }

.mytoprow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  padding-top: 2%;
  margin-bottom: 20px; }

.bootstrapcolumn {
  text-align: center;
  padding: 0px; }

.centerme {
  margin: auto;
  max-width: 100%; }

.filler {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.col-md-3 {
  margin-bottom: 10px; }

.col-xs-3 {
  width: 24%; }

.mymodal .modal-dialog {
  border-radius: 4px 4px 30px 4px;
  position: absolute; }
  .mymodal .modal-dialog #contextmenu {
    width: 400px;
    height: 500px;
    background: lightgrey;
    opacity: 0.95;
    border-radius: 4px 4px 30px 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .mymodal .modal-dialog #contextmenu span {
      line-height: 75px;
      background: #666666;
      margin: 5px;
      text-align: center;
      color: white;
      font-size: 25px;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      cursor: pointer; }
      .mymodal .modal-dialog #contextmenu span:hover {
        background: #4d4d4d; }
    .mymodal .modal-dialog #contextmenu span:nth-last-child(2) {
      border-radius: 0px 0px 30px 0px; }
    .mymodal .modal-dialog #contextmenu .closeButton {
      position: absolute;
      left: 335px;
      top: 435px;
      border-radius: 30px;
      background: #666666;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-style: bold;
      color: white;
      font-size: 35px;
      border: 4px solid lightgrey; }
      .mymodal .modal-dialog #contextmenu .closeButton:hover {
        cursor: pointer;
        background: #4d4d4d; }
  .mymodal .modal-dialog .modal-content {
    border: 0px; }
  .mymodal .modal-dialog #historymenu {
    width: 400px;
    height: 500px;
    background: lightgrey;
    opacity: 0.95;
    border-radius: 4px 4px 30px 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto; }
    .mymodal .modal-dialog #historymenu span {
      background: #666666;
      margin: 5px;
      line-height: 40px;
      text-align: center;
      color: white;
      font-size: 25px;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      min-height: 40px;
      max-height: 40px;
      cursor: pointer; }
      .mymodal .modal-dialog #historymenu span:hover {
        background: #4d4d4d; }
    .mymodal .modal-dialog #historymenu .closeButton {
      position: absolute;
      left: 340px;
      top: 440px;
      border-radius: 30px;
      background: #666666;
      width: 60px;
      height: 60px;
      text-align: center;
      font-style: bold;
      color: white;
      font-size: 35px;
      border: 4px solid lightgrey; }
      .mymodal .modal-dialog #historymenu .closeButton:hover {
        cursor: pointer;
        background: #4d4d4d; }

.modal-backdrop {
  display: none; }

.fade.in {
  opacity: 0.95; }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

nav > span {
  cursor: pointer; }
