<nav class="navbar navbar-expand-lg  bg-light">
  
<span ng-click="vm.pencilclicked = !vm.pencilclicked;vm.givefocus()"><i class="far fa-edit " ></i></span>
  <div class="filler"></div>
  <span ng-show="!vm.pencilclicked" ng-click="vm.openGamesModal()" >{{vm.thisgame}}</span>
  
  
  
     <input id='myinputbox' type="text" value={{vm.thisgame}}   class="form-control myeditbox" ng-show="vm.pencilclicked===true;" ng-blur="vm.changeName()"/>

  <div class="filler"></div>

  <span ng-click="vm.openHistoryModal()"><i class="fa fa-history" ></i></span>
  &nbsp;&nbsp;<a ui-sref="app.wordfinder"><span ><i class="fa fa-list"></i></span></a>
  

 </nav>

 <div class="secondtoprow">
    <div class="filler"></div>
    <!-- <span ng-model="vm.newword" id="newword" class="newword">{{vm.newword}}</span> -->
    <span class="newword" ng-repeat="(key,value) in vm.newword_shadow track by $index" ng-click="vm.changeletterset($index)" ng-class="{newwordblurred:vm.newword_shadow[$index].blurred}" >{{value.letter}}</span>
    <div class="filler"></div>
    </div>

    <div class="centerme">
      <div class="row myrow" >
        <div class="col-xs-3 col-md-3 col-sm-3 bootstrapcolumn" ng-repeat-start="(key,value) in vm.filterTotal(vm.wordset) ">
              
              <button id="button{{$index}}" class="btn btn-sm  thekey" ng-class="{'btn-success': vm.parse(value) >  0 ,'btn-default': vm.parse(value) ===  0 }" ng-click="vm.addLetter(key);vm.blurelem($index)">{{key}}</button>
              <span class="thevalue" ng-click="vm.addToSet(key)" >{{value}}</span>
              </div>
        <div class="clearfix" ng-if="($index+1)%9==0"></div>
        <div ng-repeat-end=""></div>
    </div>
  </div>

  
  <div class="bottomrow">
      <div class="filler"></div>
      <button class="btn btn-lg btn-info">kli/med : {{vm.wordset['vowels']}}/{{vm.wordset['consonants']}}</span>
        <button ng-click="vm.substractletter()" class="btn btn-lg btn-info">  X  </button>
        <button ng-click="vm.reset()" class="btn btn-lg btn-info">  Reset  </button>
        <button ng-click="vm.submitForm()" class="btn btn-lg btn-info"> Submit Letters </button>
        <span class="total">{{vm.wordset['total']-14}}</span>
        


        

        <!-- <select id="selectmove" class = "form-control dropdown myselect" ng-model = "vm.thisgame" ng-change = "vm.changeGame(vm.thisgame)" ng-show="vm.pencilclicked === false;" >
        <option ng-repeat="game in vm.thegames">{{game}}</option>
    </select> -->


    



        

       
        <div class="filler"></div>
  </div>
    